# Código gitignore para evitar procesar los directorios de prueba del proyecto
.settings
src/main/java/pruebascrudrepo
src/main/java/pruebasjparepo
src/main/java/pruebasquery
src/main/java/pruebasrelaciones
target/