# Código gitignore para evitar procesar los directorios de prueba del proyecto
.settings
.springBeans
src/main/java/pruebascrudrepo
src/main/java/pruebasjparepo
src/main/java/pruebasquery
src/main/java/pruebasrelaciones
target/
src/main/java/applinet/eglobal/app/service/BannersServiceImpl.java
src/main/java/applinet/eglobal/app/service/NoticiasServiceImpl.java
src/main/java/applinet/eglobal/app/service/PeliculasServiceImpl.java